*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}



body{
   background-color:#27282d;
}

.form{
    text-align: center;
    padding: 20px;

}

.form img{
    max-width: 500px;
    width: 100%;
}


.form input[type=text],
.form input[type=email]{
    font-size: 16px;
    border-radius: 10px;
    padding-left: 10px;
    display: block;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
}

.form textarea{
    padding: 10px;
    resize: vertical;
    display: block;
    border-radius: 20px;
    font-size: 16px;
    max-width: 500px;
    width: 100%;
    height: 128px;
    margin: 10px auto;
}

.form input[type=submit]{
    font-size: 16px;
    border-radius: 10px;
    padding-left: 10px;
    display: block;
    margin: 10px auto;
    max-width: 500px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    color: white;
    background-color: rgb(69, 111, 226);
    border: 0;

}


