* {
      box-sizing: border-box;

    }

    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    /* Style the top navigation bar */
    .topnav {
      overflow: hidden;
      background-color: #b98ba7;
     
    }

    /* Style the topnav links */
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    /* Change color on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Style the content */
    .content {
      background-color: #f7bdbd;
      padding: 10px;
      height: 200px;
      /* Should be removed. Only for demonstration */
      text-align: center;
       box-shadow: 0 4px 10px;
    }

    h1,h2 {
      color: white;
    }
    h3{
      text-align: center;
    }


    /* Estilos gerais */
    .container {
      margin-left: 15%;
      display: flex;
      gap: 20px;
    }

    /* Estilos do card */
    .card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      width: 200px;
      text-align: center;
      padding: 10px;
    }

    .card img {
      
      max-width: 100%;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 15px;
    }

    .card h2 {
      font-size: 1.0rem;
      margin-bottom: 10px;
      color: #333;
    }

    .card p {
      font-size: 1rem;
      color: #666;
      margin-bottom: 20px;
    }

    .card button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;
      
    }

    .card button:hover {
      background-color: #0056b3;
      padding: 10px;
    }
    .titulo-form{
      text-align: center;
      margin-top: -20px;
      margin-top: 10px;
      color: #333;
    } 


    form{
      text-align: center;
      margin-top: 20px;
      width: 350px;
      margin-left: 30%;
      border: 3px solid #ccc;
      padding: 35px;
      background-color: #b98ba7;
      border-radius: 10px;
      font-weight: bolder;
    }

    form input[type="text"],[type="number"],[type="submit"],[type="reset"]{
      width: 90%;
      padding: 8px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
    }
    
    form,p{
      margin-bottom: 15px;
      font-size: 0.8rem;
      
    }

    h4{
      margin-bottom: 10px;
      color: #333;
    }

    /* Style the footer */
    .footer {
      box-shadow: 0 -4px 10px;
      background-color: #b98ba7;
      padding: 10px;
      border-top:2px solid #ccc;
      text-align: center;
      margin-top: 180px;
    }

    @media(max-width:850px){
      .container{
        flex-direction: column;
        align-items: center;
        
      }

      form{
        width: 80%;
        margin-left: 3%;
      }
     
    }