*{
    box-sizing: border-box;
}


body{
    font-family: "Comic Neue", cursive;
    margin: 0;
    padding: 0;
    background-image: url(../img/stock-vector-healthcare-and-medical-background-with-flat-icons-and-symbols-science-medicine-and-innovation-1331508716.jpg);
    background-repeat: no-repeat;
    
    
}

header{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 100px;
    margin-left: 60%;
    padding: 4px;
    width: 500px; 

}

h1,h2,h3, p{
    font-weight: bold;
    color: blue;
    text-align: center;

}



form, [type= "text"], [type="number"]{
    padding: 4px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(234, 234, 243);
    border-radius: 10px;
    width: 100%;
}

form [type="submit"], [type="reset"]{
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 30px 5px 30px;
}




@media (max-width:768px){

    header{
        
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        align-items: center;
    }

    form {
        width: 100%;       
    }
    

}
    




